// Paleta de colores

// Nombres de colores.
$color-cultured: #edf2f4;
$color-eerie-black: #1b2021;
$color-charcoal: #2a3d45;
$color-independence: #ec6540;
$color-yellow-orange: #ffa630;
$color-wintergreen-dream: #6a8e7f;
$color-crimson: #d7263d;
$color-cinnamon-satin: #ce5374;
$color-celadon: #a7d3a6;
$color-green-crayola: #cfe795;
$color-cambridge-blue: #add2c2;
$color-camel: #cf995f;
$color-viridian: #558b6e;
$color-rifle-green: #51513d;
$color-forest-green-crayola: #5da271;
$color-yellow-green-crayola: #b9e28c;

// Tema claro.
$background-color: $color-cultured;
$text-color: $color-eerie-black;
$accent-color: $color-rifle-green;
$border-color: $color-cinnamon-satin;
$focus-color: $color-crimson;
$disabled-color: $color-independence;